.hello {
  position: relative;
  z-index: 0;
  &__logo {
    position: relative;
    z-index: 2020;
  }
  &__circles {
    position: absolute;
    top: 50%;
    left: 50%;
    will-change: transform;
    width: 220px;
    height: 220px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      will-change: transform;
      width: 220px;
      height: 220px;
      background: rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      content: "";
      display: block;
      z-index: 1;
    }
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      will-change: transform;
      width: 220px;
      height: 220px;
      background: rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      content: "";
      display: block;
      z-index: 1;
    }
  }
}
