.projects {
  padding: 64px 16px 88px;
  @media (min-width: $desktop){
    padding: 64px 16px 176px;

  }
  &__header {
    font-size: 36px;
    line-height: 48px;
    color: $blue;
    text-align: center;
    margin: 0 0 40px;
    @media (min-width: $desktop) {
      font-size: 48px;
      line-height: 56px;
    }
  }
}

.project {
  background: $blueDark;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  color: $white;
  font-weight: normal;
  line-height: 24px;
  font-size: 13px;
  font-family: Roboto Mono;
  @media (min-width: $desktop) {
    font-size: 16px;
    line-height: 24px;
  }
  &__circle {
    display: block;
    width: 8px;
    height: 8px;
    background: $blueDark;
    border-radius: 50%;
    margin-right: 8px;
  }
  &__content {
    padding: 24px 32px;
    @media (min-width: $desktop) {
      padding: 18px 48px 58px;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: 86px 1fr;
    column-gap: 8px;
    margin: 0 0 8px 0;
    @media (min-width: $desktop) {
      grid-template-columns: 116px 1fr;
    }
    &--description {
      margin-bottom: 24px;
    }
  }
  &__label {
    display: block;
    text-align: right;
    color: $brown;
    font-weight: normal;
  }
  &__link {
    color: $brownBright;
  }
  &__title {
    font-weight: bold;
    font-size: 13px;
    line-height: 24px;
    color: $white;
    margin-top: 24px;
    @media (min-width: $desktop) {
      font-size: 16px;
      line-height: 24px;
    }
  }
  &__window {
    height: 40px;
    background: $blue;
    display: flex;
    align-items: center;
    padding: 0 0 0 16px;
  }
}

.projects-grid {
  display: grid;
  column-gap: 24px;
  row-gap: 24px;
  max-width: 1184px;
  margin: 0 auto;
  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
  }
}
