$blue: #13528d;
$console: #808082;
$lightConsole: #A3A3A3;
$linkConsole: #14B5D0;
$darkGray: #1E1E1E;
$gray: #212528;
$mediumGray: #464A4D;
$lightBlue: #4DA8FF;
$lighterBlue: #DBEAF7;
$text: #425A70;
$textDark: #234361;

$tablet: 768px;

$desktop: 960px;