$carrotOrange: #E89005;
$carrotOrangeBright: #ffad29;
$cultured: #EFF1F3;
$culturedDark: #d1d3d4;
$internationalOrangeGoldenGateBridge: #BB4430;
$internationalOrangeGoldenGateBridgeBright: #ff8670;
$internationalOrangeGoldenGateBridgeDark: #8d3424;
$raisinBlack: #231F20;
$white: #fff;

$tablet: 768px;

$desktop: 960px;